<div data-section-id="{{ section.id }}" data-section-type="section-product-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-product-v4">
    <div class="container container-v2">
      <div class="row">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == "collection" %}

        {% assign products_limit = block.settings.products_limit %}
        {% assign col = block.settings.select_collection %}
        <div class="col-12 col-md-4">
          <div class="product-v7">
            <div class="section-title">
              <h3 class="mb-0"> 
                <span class="title">{{block.settings.block_title}}</span>
              </h3>
            </div>

            <div class="product_best_sell">
              {% for product in collections[col].products limit: products_limit %}
              {% include 'product-item-list-v1' %}
              {% else %}
              {% for i in (1..3) %}
              {% include 'empty-product-item-list-v1' %}
              {% endfor %}
              {% endfor %}
            </div>

          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "PRODUCT V4",
  "max_blocks": 3,
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": "FEATURED PRODUCTS"
        },
        {
          "type": "collection",
          "id": "select_collection",
          "label": "Select Collection"
        },
        {
          "type": "range",
          "id": "products_limit",
          "label": "Limit products",
          "min": 1,
          "max": 50,
          "step": 1,
          "default": 3
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PRODUCT V4",
      "category": "HOME",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "block_title": "FEATURED PRODUCTS"
          }
        },
        {
          "type": "collection",
          "settings": {
            "block_title": "TOP RATED PRODUCTS"
          }
        },
        {
          "type": "collection",
          "settings": {
            "block_title": "TOP SALE PRODUCTS"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
